## What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [2]:
import pandas as pd

In [6]:
a = [1,2,3,4]
series = pd.Series(a)
print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
type(series)

pandas.core.series.Series

### Labels
If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [11]:
# Return the first value of series
series[0]

1

In [15]:
# Return the thrid value of series
series[3]

4

### Create Labels
With the index argument, you can name your own labels.

In [20]:
a = [1,2,3,4]
series = pd.Series(a, index = ['a','b','c','d'])
print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [22]:
# Return the value of a
series['a']

1

**Create a simple Pandas Series from a dictionary**

In [27]:
sales = {'day1':32000,'day2':360000,'day3':45000}
store_sale = pd.Series(sales)
store_sale

day1     32000
day2    360000
day3     45000
dtype: int64

**Create a Series using only data from "day1" and "day2"**

In [30]:
sales = {'day1':32000,'day2':360000,'day3':45000}
store_sale = pd.Series(sales , index = ['day1','day2'])
store_sale

day1     32000
day2    360000
dtype: int64