## What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [8]:
import pandas as pd

# Data with exercise-related details
data = {
  "exercise_type": ["Running", "Cycling", "Swimming"],
  "duration_minutes": [30, 45, 40],
  "calories_burned": [300, 400, 350]
}
# Load data into a DataFrame object
df = pd.DataFrame(data)

# Display the DataFrame
df

  exercise_type  duration_minutes  calories_burned
0       Running                30              300
1       Cycling                45              400
2      Swimming                40              350

## Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the `loc` attribute to return one or more specified row(s)

**Return row 0**

In [18]:
#refer to the row index:
print(df.loc[0])

exercise_type       Running
duration_minutes         30
calories_burned         300
Name: 0, dtype: object

**Return row 0 and 1**

In [23]:
print(df.loc[[0,1]])

  exercise_type  duration_minutes  calories_burned
0       Running                30              300
1       Cycling                45              400

## Named Indexes
With the `index` argument, you can name your own indexes.

In [26]:
import pandas as pd

# Data with exercise-related details
data = {
  "exercise_type": ["Running", "Cycling", "Swimming"],
  "duration_minutes": [30, 45, 40],
  "calories_burned": [300, 400, 350]
}
# Load data into a DataFrame object
df = pd.DataFrame(data, index=['day1','day2','day3'])

# Display the DataFrame
df

     exercise_type  duration_minutes  calories_burned
day1       Running                30              300
day2       Cycling                45              400
day3      Swimming                40              350

In [28]:
# loc label based indexing
df.loc['day1']

exercise_type       Running
duration_minutes         30
calories_burned         300
Name: day1, dtype: object

In [34]:
df.loc['day1','duration_minutes']

30

In [38]:
# iloc integer based indexing
df.iloc[0]

exercise_type       Running
duration_minutes         30
calories_burned         300
Name: day1, dtype: object

In [40]:
df.iloc[0,1]

30