## Read JSON
Big data sets are often stored, or extracted as JSON.

JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas.

In [4]:
## Load the JSON file into a DataFrame
import pandas as pd
data = pd.read_json('fitness_data.json')
data

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  10 non-null     int64
 1   Pulse     10 non-null     int64
 2   Maxpulse  10 non-null     int64
 3   Calories  10 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 400.0 bytes